@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold pb-2;
  }

  h2 {
    @apply text-xl font-bold pb-1;
  }

  h3 {
    @apply text-lg font-bold pb-1;
  }

  .hero {
    @apply text-3xl font-bold h-min w-min;
    background: linear-gradient(0.25turn, #EF233C, #D80032);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    @apply hover:underline;
  }

  a.disabled {
    @apply text-zinc-500;
    @apply cursor-not-allowed;
  }

  button {
    @apply px-3 py-1 rounded-md;
    @apply bg-zinc-900;
  }

  select {
    @apply h-10;
    @apply px-3 py-1 rounded-md;
    @apply bg-zinc-900;
  }

  select option {
    @apply px-3 py-1 rounded-md;
    @apply bg-zinc-900;
  }

  input {
    @apply h-10;
    @apply px-3 py-1 rounded-md;
    @apply bg-zinc-900;
  }

  input[type="search"] {
    @apply px-3 py-1 rounded-md;
    @apply bg-zinc-900;
    @apply w-full sm:w-72;
  }

  input[type="checkbox"] {
    @apply w-4 h-4;
    @apply p-2;
  }

  label {
    @apply flex flex-row gap-2 items-center;
  }

  label:has(input[type="checkbox"]) {
    @apply cursor-pointer;
  }

  table {
    @apply border-collapse border-spacing-2 border-zinc-800;
  }

  table thead {
    @apply sticky top-0;
  }

  th {
    @apply bg-zinc-900;
    @apply text-left;
    @apply px-2 py-1;
  }

  td {
    @apply px-2;
    @apply flex items-center;
  }

  table thead tr th button {
    @apply w-full;
    @apply cursor-ns-resize;
    @apply text-left;
    @apply p-0;
  }

  td * {
    @apply py-2;
  }

  table tr {
    @apply border-b border-zinc-800;
    @apply hover:bg-zinc-800;
  }

  table tr:nth-child(odd) {
    @apply bg-zinc-900;
    @apply hover:bg-zinc-800;
  }
}

/* Fixture Difficulty Rating */

[data-difficulty="1"] {
  @apply bg-green-500;
  @apply text-green-950;
}

[data-difficulty="2"] {
  @apply bg-green-400;
  @apply text-green-950;
}

[data-difficulty="3"] {
  @apply bg-yellow-400;
  @apply text-yellow-950;
}

[data-difficulty="4"] {
  @apply bg-red-400;
  @apply text-red-950;
}

[data-difficulty="5"] {
  @apply bg-red-500;
  @apply text-red-950;
}

[data-difficulty="6"] {
  @apply bg-red-600;
  @apply text-red-950;
}